<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "NinShirt" %></title>
 	<%= render :partial => 'shared/shared_head'%>
</head>
<body>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}", :class => 'flash' %>
<% end %>
<div class="top-nav">
	<div class="container">
		<div class="span-6"><div class="logo"><%= link_to(image_tag('ninshirt-logo.png'), '/') %></div></div>
		<div class="span-18 last">
			<div class="push-12 span-6 last top-nav-menu">
				<ul>
					<li><%= link_to 'Cart', cart_path %></li>
					<% if current_user.nil? %>
						<li><a href="#" id="loginButton">Login</a></li>
					<% else %>
						<li><a href="/members/dashboard">Member Area</a></li>
						<li><a href="/logout">Logout</a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="secondary-nav">
	<div class="container">
		<div class="span-24 last">
			&nbsp;
		</div>
	</div>
</div>
<div class="main-content">
	<div class="container ">
		<div class="span-6 colborder">
			<ul>
				<li><a href="/members/dashboard">Dashboard</a></li>
				<li><a href="/members/orders">Orders</a></li>
			</ul>
		</div>
		<div class="span-17 last"><%= yield %></div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<%= render :partial => 'shared/footer' %>
	</div>
</div>
<%= render :partial => 'shared/error'%>
<%= render :partial => 'shared/login'%>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-3622891-10']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>
</body>
</html>
