<h1>Shops</h1>
<%= link_to 'New', new_admin_shop_path %>
<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Owner</th>
			<th>Active</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @shops.each do |shop| %>
			<tr>
				<td><%= link_to 'Edit', edit_admin_shop_path(shop) %></td>
				<td><%= shop.name %></td>
				<td><%= shop.user.username %></td>
				<td><%= shop.is_active %></td>
				<td><%= link_to 'Delete', admin_shop_path(shop), :method => 'Delete', :confirm => 'Are you sure you want to delete this shop?  This is permanent!' %></td>
			</tr>
		<% end %>
	</tbody>
</table>