<%= form_for @user do |f| %>
  <%= f.error_messages %>
	<div class="fields">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
	<div class="fields">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="fields">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="fields">
    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email %>
  </div>
  <div class="fields">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="fields">
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="buttons"><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></div>
<% end %>
